body{
    
    background-color:#333333;
}
#mainContainer{
    color:white;
    background-color:#252525;
    margin:10px auto;
    padding:20px;
}
.navBar  {
    
    background-color:#252525;

}
#header{
    background-image:url("https://wallpaperstock.net/wallpapers/thumbs1/43510hd.png");
    padding:20px 20px;
}
#headerImage{
    height:270px;
    width:270px;
    margin-right:30px;
}
 #headerDescription {
    padding-top:6%;
    color:#252525;
 }
 #indexImage{
     
     border-radius:3px;border:white solid 2px;padding:0;
 }

@media only screen and (max-width:768px){
    /*for mobile screens */
    #headerImage{
    height:40%;
    width:40%;
        
    }
    
}